<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Challenge Suite">
	
	<listeners>
		<listener class-name="ExtentReportListener.ExtentReportListener"/>
	</listeners>
	
	<parameter name="username" value="email@email.com" />
	<parameter name="password" value="password" />
	
	<test name="Box App Test Cases">
		<classes>		
 			<class name="testcases.LoginPageTest"></class>
			<class name="testcases.LogoutPageTest"></class>
			<!--   <class name="testcases.CreateFolderPageTest"></class>
			<class name="testcases.UploadFileTest"></class> -->
		</classes>
	</test>
</suite>